.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap:25px;
    padding: 20px;
    font-size: 30px;
}
li{
    text-decoration: none;

}
